<h2>Register Your Gear Tracker Account</h2>

<form action="/register" method="POST">
  
  <p>Username: <input type="text" name="username" placeholder="username"></p>
  
  <p>Password: <input type="password" name="password" placeholder="password"></p>
  
  <input class="btn btn_primary" type="submit">


</form>

<p><a href="/login"> Are you already a user? Log in then!</a></p>
<p><a href="/">Go Back to home</a></p>