<p>Welcom back, <%= current_user.username %></p>

<h2>Your Current Items</h2>
  <% @items.each do |i| %>
  <ul>
    <li><%= i.name %></li>
    <li><%= i.brand %></li>
  </ul>
  <% end %>

  <a href="/items/new">Add an Item</a>
  <a href="/logout">Logout</a>