<h1>Add a New Item</h1>
  <form action="/items" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Brand: <input type="text" name="brand"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>